# files to ignore for commits

__pycache__/
*.py[cod]
*$py.class
*.so
guide.txt
tempCodeRunnerFile.python
.Python
build/
develop-eggs/
dist/
downloads/
extra/
eggs/
.eggs/
*.png
lib/
lib64/
parts/
sdist/
var/
visualize.py
*.gif
wheels/
share/python-wheels/
*.vscode/
.vscode/
*.egg-info/
.installed.cfg
*.egg
*.lp
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
test.py
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py