# Copyright (c) 2022-2024, Keivan Tafakkori. All rights reserved.
# See the file LICENSE file for licensing details.

build
dist
env
.vscode
feloopy.egg-info
extra*
__pycache__
project*
_build
main*
modules
data
results
site
clean.py
create.py
example.py
*.sio